<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<dict>
			<key>icon</key>
			<string>sharemore_pic.png</string>
			<key>name</key>
			<string>keyBoardPhoto</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_video.png</string>
			<key>name</key>
			<string>shooting</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_sight.png</string>
			<key>name</key>
			<string>smallVideo</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_videovoip.png</string>
			<key>name</key>
			<string>videoChat</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>name</key>
			<string>redEnvelope</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemorePay.png</string>
			<key>name</key>
			<string>transfer</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_location.png</string>
			<key>name</key>
			<string>location</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_myfav.png</string>
			<key>name</key>
			<string>collection</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>icon</key>
			<string>sharemore_friendcard.png</string>
			<key>name</key>
			<string>personCard</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_voiceinput.png</string>
			<key>name</key>
			<string>voiceInput</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sharemore_wallet.png</string>
			<key>name</key>
			<string>card</string>
		</dict>
	</array>
</dict>
</plist>
